@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Lexend+Deca&family=Montserrat&family=Poppins:wght@200;400&display=swap');
      *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      
     body{
       background-image: url("bg-intro-mobile.png");
       background-repeat: no-repeat;
       background-size: cover;
       background-color:  hsl(0, 100%, 74%);
       font-family: 'Poppins';
     }
   .container{
     margin: auto ;
    /*border: 1px solid black;
     margin-top: 2em;*/
   }
   
  .my-own{
    margin-top: 8em;
    display: flex;
    flex-direction: column;
background-color: white;
width: 350px;
padding: 20px;
margin: auto;
border-radius: 1em;
padding-bottom: 2em;
}
  
 input{
   width: 300px;
   margin-bottom: 20px;
   padding: 15px;
   border-radius: 0.5em;
   background-color: transparent;
   border: 1px solid hsl(246, 25%, 77%);
   border-style: ridge;
 }
 
 input::placeholder{
   font-weight: bold;
   font-size: 1em;
   font-family: 'Poppins';
 }
 
 input:focus{
   outline: none;
 }
 
 input:invalid{
   border: 1px solid hsl(0, 100%, 74%);
 }
input:valid{
  background-color: transparent;
   border: 1px solid hsl(246, 25%, 77%);
}
input:active{
   border: 1px solid hsl(0, 100%, 74%);
}

input:hover{
  background-color: transparent;
   border: 1px solid hsl(246, 25%, 77%);
}

button{
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: hsl(154, 59%, 51%);
  color: #F5F5F5;
  border-color: transparent;
  border-radius:.5em;
  font-size: 1em;
  font-family: 'poppins' Sans-Serif;
  cursor: pointer;
  width: 300px;
}
  
 .header{
   border: 1px;
   height: 40vh;
   text-align: center;
   margin-top: 10em;
   margin-bottom: 5em;
 }
 .header h2{
   font-size: 2.5em;
   font-weight: bolder;
   color: #F5F5F5;
   margin-bottom: 30px;
 }
 
 .header p{
   margin-top: 2em;
   line-height: 2em;
   text-align: center;
   font-size: 1em;
   font-weight: 400;
   margin: auto ;
   border: 1px solid black;
   border-color: transparent;
   color: #F5F5F5;
   margin-left: 2em;
   margin-right: 2em;
 }
 
 #user{
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: auto ;
  margin-bottom: 20px;
  color: #F5F5F5;
  font-weight: 300;
  border-radius: 0.5em;
  margin-top: 8em;
  box-shadow:  0px 5px 0px hsl(248, 32%, 49%);
}

#paragraph{
  color:hsl(246, 25%, 77%);
  text-align: center;
  border: 1px;
  font-size:.85em;
  font-weight: 400;
  margin-top: 2em;
  margin-left: 1em;
  line-height: 2em;
}

@media screen and (min-width: 768px) {
  body{
    background-image: url("bg-intro.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 .container{
   display: flex;
   justify-content: space-between;
   margin-top: 20vh;
 }
 
.header{
  width: 40%;
  border: 1px;
  padding: 5px;
}

.form-control{
  width: 60%;
  flex: 2;
  border: 1px;
  background-size: cover;
  position: relative;
  bottom: 9em;
 /* padding: 20px;*/
}

.my-own{
  width: 80%;
  height: 28vh;
  padding: 20px;
}

input{
  width: 100%;
  margin-bottom: 3em;
}
button{
  width: 100%;
}

#user{
  width: 80%;
}

.header h2{
  font-size: 2.5em;
}

.header p{
  text-align: left;
  font-size: 1.3em;
  line-height: 1.5em;
}

#paragraph{
  white-space: nowrap;
}
}